<div>
  <div>
    <h1 class="head-text">
      Best Matched Recipes
    </h1>
  </div>
</div>

<hr>

<div class="row">
<% @parsed_spoonacular_data.each do |recipe| %>
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <img src="<%= recipe.fetch("image") %>" class="card-img-top" alt="recipe picture">
      <div class="card-body">
        <h5 class="card-title recipe-header"><%= recipe.fetch("title") %></h5>
        <p class="card-text body-text">Missing Ingredients (<%= recipe.fetch("missedIngredientCount") %>)</p>
        <ul>
          <% recipe.fetch("missedIngredients").each do |missed_items| %>
          <li><%= missed_items.fetch("name") %></li>
          <% end %>
        </ul>
        <% recipe_url = "https://api.spoonacular.com/recipes/#{recipe.fetch("id")}/information?apiKey=#{@spoonacular_key}" %>
        <% raw_recipe_data = URI.open(recipe_url).read %>
        <% the_recipe = JSON.parse(raw_recipe_data) %>
        <a href="<%= the_recipe.fetch("sourceUrl") %>" target="_blank" class="btn btn-success">Full Recipe</a>
      </div>
    </div>
  </div>
<%end%>
</div>
<hr>
